body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    }
    
    /* .trigger{
    border: 2px solid lightgray;
    } */
    
    section {
    display: block;
    height: 50px;
    width: 50px;
    margin: 10px;
    transition: all 900ms linear; 
    /* we did use ease-in-out but linear works cleaner */
    }
    
    /* odd todds */
    .trigger:hover section:nth-child(odd){
    transform: translate(500px) rotate(150deg) scale(1.5);
    }
    
    /* even stevens */
    .trigger:hover section:nth-child(even){
    transform: translate(-500px) rotate(-150deg) scale(0.5);
    }
    
    /* colors */
    
    #pink {
    background-color: lightpink;
    }
    
    #purple {
    background-color: plum;
    }
    
    #red {
    background-color: red;
    }